.signup-body{
    height: 100vh;
}

.signup-container{
    /* width: 30%; */
    width: max(340px,40%);
    padding: 3.7em 3em;
    border-radius: 2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.signup-header{
    font-weight: bolder;
    margin-bottom: 0.5em;
    text-align: center;
}
.links-container span{
    font-size: smaller;
}

@media only screen and (min-width: 1201px) {
    .signup-container{
        width: 35%;
    }
  }

