@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:wght@300;400;500;700&display=swap");

body {
  font-family: "Nunito", sans-serif;
  overflow: hidden;
}

.main-container {
  height: 100vh;
  display: flex;
  /* border: 2px solid red; */
  overflow: hidden;
}
.sidebar {
  /* border: 2px solid rgb(0, 68, 255); */
  width: 26%;
}
.message-box {
  width: 74%;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .main-container{
    height: 92.5vh;
  }
  .sidebar {
    width: 0%;
  }
  .message-box {
    width: 0%;
  }
  .showing-sm{
    width: 100%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 679px) {
  .sidebar {
    width: 45%;
  }
  .message-box {
    width: 55%;
  }
}
@media only screen and (min-width: 680px) and (max-width: 1024px) {
  .sidebar {
    width: 43%;
  }
  .message-box {
    width: 57%;
  }
}

    @media only screen and (min-width: 1025px) and (max-width: 1280px) {
      .sidebar {
        width: 33%;
      }
      .message-box {
        width: 67%;
      }
    }